body {
  margin: 0 auto;
  padding: 0;
  max-width: 327px;

}

.img-mini {
  width: 10px;
  height: 10px;
}

img {
  width: 20px;
  height: 20px;
  color:  white;
  margin-top: 10px;

}

p {
  margin-top: 10px;
  padding: 0px;
  color: white;
  text-align: bottom;
  font-weight: bold;
}

header {
  display: flex;
  padding: 5px;
  justify-content: right;
  background: #4b01d1;
}

.header2 {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #6203ee;
  justify-content: space-between;
}



.left-icons{
  display: flex;
  width: 50%;
  background-color: #6203ee;
  justify-content: space-around;
  
}

.right-icons {
  display: flex;
  width: 30%;
  background: #6203ee;
  justify-content: space-around;
  
}

form {
  display: flex;
  text-align: center;
  padding-top: 20px;
  justify-content: space-evenly;
}

input {
  width: 75%;
  height: 40px;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.address-img {
  display: hidden;
}

.input1 {
  width: 50%;
}

.adress-input {
  background-color: #e8e8e8;
  border-style: none none solid none;
}

.name-input {
  background-color: #e8e8e8;
  border-style: none none solid none;
}

.state-input {
  width: 32%;
  background-color: #e8e8e8;
  border-style: none none solid none;
}

.zip-input {
  width: 32%;
  background-color: #e8e8e8;
  border-style: none none solid none;
}

.blank-image {
  visibility: hidden;
}

.birthday {
  background-color: #e8e8e8;
  border-style: none none solid none;
}

.calendar-img {
  position: absolute;
  margin-left: 255px;
}