body {
  margin: 0 auto;
  padding: 0;
  max-width: 327px;

}

.img-mini {
  width: 10px;
  height: 10px;
}

img {
  width: 20px;
  height: 20px;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 5px;
  justify-content: right;
  background: lightblue;
}

.header2 {
  display: flex;
  padding-top: 5px;
  background: lightgrey;
  justify-content: space-between;
}

.left-icons{
  display: flex;
  width: 50%;
  background-color: lightgrey;
  justify-content: space-around;

  
}

.right-icons {
  display: flex;
  width: 30%;
  background: lightgrey;
  justify-content: space-around;
  
}
